<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>UML Framework: UMLSync</title>
  <link href="../static/css/gray-start/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../static/css/main.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="../static/js/3pp/simple-color-picker/jquery.simple-color-picker.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="../static/./js/3pp/tablesorter/themes/blue/style.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="../static/./js/3pp/dynatree/src/skin-vista/ui.dynatree.css" type="text/css" media="screen"/>  
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/jquery.scrollabletab.js"></script>
  <script src="../static/js/jquery.cookie.js"></script>
  <script src="../static/js/ui.selectmenu.js"></script>
  <script type="text/javascript" src="../static/js/3pp/simple-color-picker/jquery.simple-color-picker.js"></script>
  <script type="text/javascript" src="../static/js/jqsimplemenu.js"></script>
  <link rel="stylesheet" href="../static/css/simple_menu.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="../static/css/jqsimplemenu.css" type="text/css" media="screen" />
  <link rel='stylesheet' type='text/css' href='js/3pp/skin/ui.dynatree.css'>
  <script src="../static/./js/3pp/jLog/jLog.min.js"></script>
  <script src="../static/./js/3pp/editable/editable.js"></script>
  <script src="../static/./js/3pp/metadata/jquery.metadata.js"></script>
  <script src="../static/./js/3pp/tablesorter/jquery.tablesorter.js"></script>
  <script src="../static/./js/3pp/jquery.tools.min.js"></script>
  <script src="../static/./js/3pp/contextmenu/jquery.contextmenu.js"></script>
  <script src="../static/./js/3pp/dynatree/jquery.dynatree.js" type="text/javascript"></script>
  <script src="../static/./js/3pp/base64/jquery.base64.js"></script>
  <style>
    body { font-size: 62.5%; }
    label, input { display: inline; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .left { float: left; }
    .left2 { overflow: hidden; display: block; padding: 0 6px 0 5px; }
    .left2 input { width: 100%; }  
  </style>    
  <script src="../static/./dm/ds/diagram.js"></script>
  <script src="../static/./dm/ds/base.js"></script>
  <script src="../static/dm/ms/ds/common.js"></script>
  <script src="../static/./dm/ds/sequence.js"></script>
  <script src="../static/./dm/dm/loader.js"></script>
  <script src="../static/./dm/dm/LocalhostView.js"></script>
  <script src="../static/./dm/dm/Githubview.js"></script>
  <script src="../static/./dm/dm/LocalFilesView.js"></script>
  <script src="../static/./dm/dm/SelfAnalysisView.js"></script>
  <script src="../static/./dm/hs/menu.js"></script>
  <script src="../static/./dm/ms/us/us.js"></script>
  <script src="../static/./dm/ms/us/gh.js"></script>
  <script src="../static/./dm/cs/nested.js"></script>
  <script src="../static/./dm/cs/aggregation.js"></script>
  <script src="../static/./dm/cs/composition.js"></script>
  <script src="../static/./dm/cs/transition.js"></script>
  <script src="../static/./dm/hs/framework.js"></script>
  
  <script>
// $.log = function() {};


  $(document).ready(function() {
    var Loader = new dm.base.loader("http://localhost:8000/static/");
    var fw = new dm.hs.framework(Loader);
    var gh = new dm.ms.gh(fw);

    $.ajax({
            url: 'https://api.github.com/user/repos?access_token=' + "{{ access_token }}",
                  dataType: 'jsonp',
                  success: function(mdata) {
                       var data = mdata.data;
                       gh.menu(data, function(repo) {
          var IGhView = new dm.base.GithubView(repo, "{{ access_token }}");
          fw.addView2('Github', IGhView);
});
                  },
                  error:function() {alert("FAILED to get the list of repositories from GitHub. for {{ user }}");}
         });

    // Initialize header menu on the left
    $('#header-menu').jqsimplemenu();
    

  // CSRF support for AJAX. Uses for server-side security.
  $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).* /.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
  });

    var menu = new dm.ms.us(fw);

    // List of default loaded diagrams
    //	  var IFilesView = new dm.base.LocalFilesView("./tests/");
    //	  fw.addView2('SandBox', IFilesView);

    $("#dialog-form").dialog({
      autoOpen: false,
      height: 250,
      width: 350,
      modal: true,
      buttons: {
        "Create a new project": function() {
          var ch = $("#" + viewId + " #tree").dynatree("getTree").getRoot().getChildren();
          for (i in ch) {
            if (ch[i].data.title == "Projects") {
              ch[i].addChild({title: $("#name").val(), isFolder:true, tooltip: $("#description").val()});
              break;
            }
          }
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      },
      close: function() {
        //allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });       
    $("#newproject")
      .click(function() {
        $( "#dialog-form" ).dialog( "open" );
      });

    $("#header-menu #vp_main_menu_ref").click(function(){
      $( "#vp_main_menu" ).dialog( "open" );
    });

    $("#localconnection" )
      .click(function() {
        fw.registerViewManager("http://localhost:8000/vm/", "jsonp");
    });
  });
  
</script>
</head>
<body>
<!--
{% if social_auth.associated %}
  <h3>Disconnect accounts</h3>
  <ul>
  {% for type, accounts in social_auth.associated.items %}
    {% for account in accounts %}
    <li>
        <span class="disconnect"><a href={% url "socialauth_disconnect_individual" account.provider account.id %}>{{ account.provider|title }} (ID {{ account.id }})</a></span>
    </li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endif %}
-->
<div id="dialog-form" title="Create new project">
  <p class="validateTips">All form fields are required.</p>
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
      <label for="description">Description</label>
      <input type="textarea" name="description" id="description" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>

<div id="body">
  <div class="nav ui-state-active" id="header">
  <div>
    <ul id="header-menu" class="menu_left">
      <li><a href="#">Project</a>
        <ul>
          <li><a id="change_repo" href="#">Change repository</a></li>
          <li><a id="change_branch" href="#">Change branch</a></li>
          <li><a id="vp_main_menu_ref" rel="#vp_main_menu2" href="#">New diagram</a></li>
          <li><a href="new_gist_diagram">New gist diagram</a></li>
        </ul>
      </li>
      <li><a href="#">Actions</a>
        <ul>
          <li><a href="#">Post for review </a></li>
        </ul>
      </li>
      <li><a href="#">Edit</a>
      <ul>
        <li><a href="#">Undo </a></li>
        <li><a href="#">Redo</a></li>
        <li><a href="#">Cut </a></li>
        <li><a href="#">Copy</a></li>
        <li><a href="#">Past</a></li>
        <li><a href="#">Delete</a></li>
        <li><a href="#">Select All </a></li>
      </ul>
      </li>
      <li id='Views'><a href="#">Views</a>
        <ul>
          <li><a href="#">Connect Googlecode</a></li>
          <li><a href="#">Connect Sourceforge</a></li>
          <li><a id="localconnection" href="#">Connect Eclipse ...</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <ul class="menu_right">
{% if user.is_authenticated %}
           <li> {{ user.username }}</li>
           <li> {{ access_token }} token </li>

{% else %}
            <li><a href="http://umlsync.org/login/">log in </a></li>
{% endif %} 
        <li><a href="#">Log out</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Settings </a></li>
        <li><a href="#">Report a bug</a></li>
    </ul>
  </div>
  </div>
  <div id="content"></div>
  <div id="content-bottom" style="clear:both;">bottom</div>
</div>


<!--- div id="socializethis" class="trashbox"> Some kind of clipboard with multiple selection. User could review code and find some instances and put them on this clipboard.
</div --->
<!--- input id="possition_locator" type="text" value="click a button" style="position:fixed;left:0px;top:0px;width:300px;"/ Position Locator instance. Check the rest of the code to be sute that it is not uses any longer --->
</body>
</html>
