<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>UML Framework: UMLSync</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="/static/underscore-min.js"></script>
  <script src="/static/github.js"></script>
  <script>
  $(document).ready(function() {
    $('#commit').submit(function() {
      username = "{{ user }}";
      access_token = "{{access_token}}";
        var github = new Github({
        token: access_token,
        auth: "oauth"
      });
      var user = github.getUser();
      var repo = github.getRepo(username, "octotest");
      var code = $('input[name=code]');
      var msg = $('input[name=msg]');
      repo.write('master', 'path/test.txt', code.val(), msg.val(), function(err) {});
      return false;
    });
  });
</script>
</head>
<body>
User: {{ user }} <br>
Access token: {{ access_token }} <br>
<form id="commit">
Code: <input  name="code" type="text" value="JSON code"></input><br>
Commit: <input name="msg" type="text" value="Test Commit"></input><br>
<input type="submit" value="Commit">
</form>
</body>
</html>