<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>UML Framework: UMLSync</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="/static/underscore-min.js"></script>
  <script src="/static/github.js"></script>
  <script>
  function github() {
    access_token = "{{ access_token }}";
    return new Github({
      token: access_token,
      auth: "oauth"
    });
  };
  function printRepos(repos ) {
    for (var i=0;i<repos.length;i++)
    { 
      is_private = repos[i].private ? "Private" : "Public";
      $("#repos").append(repos[i].full_name + " " +  is_private + "<br>");
    }
  };
  $(document).ready(function() {
    var user = github().getUser();
    username = "{{ user }}";
    user.repos(function(err, repos){ printRepos(repos) });
    $('#commit').submit(function() {
      username = "{{ user }}";
      var user = github().getUser();
      var repo = github().getRepo(username, "octotest");
      var code = $('input[name=code]');
      var path = $('input[name=path]');
      var msg = $('input[name=msg]');
      repo.write('master', path.val(), code.val(), msg.val(), function(err) {});
      return false;
    });
  });
</script>
</head>
<body>
<b>User:</b> {{ user }} <br>
<b>Access token:</b> {{ access_token }} <br>
<b>Available repos:</b> <div id="repos"></div></br>
<div style="border: solid 1px #000000;">
<form id="commit">
Path to file: <input  name="path" type="text" value="path/to/test.json"></input><br>
Code to commit: <input  name="code" type="text" value="JSON code"></input><br>
Commit message: <input name="msg" type="text" value="Test Commit"></input><br>
<input type="submit" value="Commit">
</form>
</div>
</body>
</html>