@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url(http://themes.googleusercontent.com/static/fonts/jura/v5/pqMzP52_r6zHbOILcX8h-A.woff) format('woff');
}
