
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>UMLSync: online framework for diagramming</title>
  <style>
  body {
    background: none repeat scroll 0 0 black;
    color: #999999;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    margin: 0 !important;
    padding: 0 !important;
  }
  </style>
  <script src="editor/js/jquery.js"></script>
  <script>
    $(document).ready(function() {
		$("#under_development")
		.click(function (){
		  if ($("#github").is(":hidden")) {
			$("#github").show("slow");
		  } else {
			$("#github").slideUp();
		  }
		});
  	});
  </script>
</head>
<body>
<div style="width:800px; margin:0 auto;">
<img src="./blackboard4.jpg"/><br>
<img id="under_development" src="./under_develpment2.jpg"/>
<a id="github" href="{% url 'socialauth_begin' 'github' %}" style="display:none;"><img src="./logingh_s2.jpg"/></a>
</div>
</body>
</html>
